/* color theme */ 

body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/w3images/onepage_restaurant.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
/*Themes*/
.w3-theme-l5 {color:#000 !important; background-color:#fff9f2 !important}
.w3-theme-l4 {color:#000 !important; background-color:#feebd4 !important}
.w3-theme-l3 {color:#000 !important; background-color:#fdd7a9 !important}
.w3-theme-l2 {color:#000 !important; background-color:#fcc37f !important}
.w3-theme-l1 {color:#000 !important; background-color:#fbb054 !important}
.w3-theme-d1 {color:#fff !important; background-color:#f98f0d !important}
.w3-theme-d2 {color:#fff !important; background-color:#e37f06 !important}
.w3-theme-d3 {color:#fff !important; background-color:#c66f05 !important}
.w3-theme-d4 {color:#fff !important; background-color:#aa5f04 !important}
.w3-theme-d5 {color:#fff !important; background-color:#8e5004 !important}

.w3-theme-light {color:#000 !important; background-color:#fff9f2 !important}
.w3-theme-dark {color:#fff !important; background-color:#8e5004 !important}
.w3-theme-action {color:#fff !important; background-color:#8e5004 !important}

.w3-theme {color:#000 !important; background-color:#fa9b2a !important}
.w3-text-theme {color:#fa9b2a !important}
.w3-border-theme {border-color:#fa9b2a !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#fa9b2a !important}
.w3-hover-text-theme:hover {color:#fa9b2a !important}
.w3-hover-border-theme:hover {border-color:#fa9b2a !important}
/*Vertical Nav Bar*/
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f0f0f0;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #e37f06;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
